<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
<!--        <li th:each="todo : ${todos}" th:text="${todo}"></li>-->
    </ul>

    <script>
        const ulEl = document.querySelector("ul")
        let i = 0;
        fetch("/api/v1/todos").then(response => response.json()).then(json => {
            json.forEach(todo => {
                setTimeout(() => {
                    const li = document.createElement("li")
                    li.textContent = todo.title

                    ulEl.appendChild(li)
                }, i++ * 1000)
            })
        })
    </script>

    <form method="post" action="/add">
        <label>
            Title <input name="title">
        </label>

        <input type="submit" value="udelej to omg!">
    </form>
</body>
</html>