<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
<!--        <li th:each="todo : ${todos}" th:text="${todo}"></li>-->
    </ul>

    <script>
        const ulEl = document.querySelector("ul")

        const loadData = () => {

            fetch("/api/v1/todos")
                .then(response => response.json())
                .then(json => {
                    ulEl.innerHTML = ""
                    json.forEach(todo => {
                        const li = document.createElement("li")
                        li.textContent = (todo.urgent ? "!! " : "") + todo.title

                        ulEl.appendChild(li)
                    })
                })
        }

        // setInterval(loadData, 1000)
        loadData()
    </script>

    <form method="post" action="/add">
        <label>
            Title <input name="title">
        </label>

        <label>
            <input type="checkbox" name="isUrgent">
             isUrgent
        </label>

        <input type="submit" value="udelej to omg!">
    </form>
</body>
</html>